@import "tailwindcss";

@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@layer components{
  .sidebar-icon{
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto cursor-pointer;
  }
  .sidebar-tooltip{
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }
}

.top-navigation-icon {
  @apply text-gray-500
  mr-3 ml-3
  transition duration-300 ease-in-out 
  hover:text-blue-400 
  cursor-pointer;
}

.top-navigation-icon:first {
  @apply ml-auto mr-4;
}